version: '3'
services:

  #PHP Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: php:latest
    container_name: app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      app-network:
        ipv4_address: 172.20.0.2

  #Nginx Service
  webserver:
    image: nginx:alpine
    container_name: webserver
    restart: unless-stopped
    tty: true
    environment:
    - VIRTUAL_PORT=80
    - VIRTUAL_HOST=challenge-api.test
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      app-network:
        ipv4_address: 172.20.0.3

  #MySQL Service
  mysql:
    image: mysql:5.7
    container_name: db
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    command: --init-file /data/application/init.sql
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: challenge_api
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/lib/mysql/
      - ./docker/mysql/my.cnf:/etc/mysql/my.cnf
      - ./docker/mysql/init.sql:/data/application/init.sql
    networks:
      app-network:
        ipv4_address: 172.20.0.5

  #Redis Service
  redis:
    image: redis
    container_name: redis
    tty: true
    ports: 
      - "6379:6379"
    volumes:
      - ./docker/redis:/data
    networks:
      app-network:
        ipv4_address: 172.20.0.4

#Docker Networks
networks:
  app-network:
    ipam:
      config:
        - subnet: 172.20.0.0/24
#Volumes
volumes:
  dbdata:
    driver: local